spring:
  application:
    name: master-prj-backend

  datasource:
    url: jdbc:postgresql://postgres:5432/masterprj
    username: masterprj
    password: masterprj
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
